@import './partials/var-and-color';
@import './partials/header';
@import './partials/main';
@import './partials/paddin';
@import './partials/bg-colors';
@import './partials/footer';
@import './partials/button';

html{
    height: 100%;
}
body{
    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #cbcbcb;
    height: 100%;
    
}

